.Detail {
    background-color: #F4F6F9;
    padding-bottom: 1px;
    min-width: 1200px;
    min-height: 100vh;
}

.Detail-title {
    color: white;
    font-size: large;
}

.exception-wrap {
    display: flex;
    align-items: center;
    height: 80%;
    min-height: 500px;
}

.exception-img-block {
    flex: 0 0 62.5%;
    width: 62.5%;
    padding-right: 152px;
    zoom: 1;
}

.exception-img-ele {
    float: right;
    width: 100%;
    max-width: 430px;
    height: 360px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(./../assets/exception.svg);
}

.exception-content {
    flex: auto;
}

.exception-content h1 {
    margin-bottom: 24px;
    color: #434e59;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
}

.exception-desc {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 20px;
    line-height: 28px;
}